@import "tailwindcss";

@font-face {
  font-family: "Radon Deco";
  src: url("./assets/Radon Deco.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Grow Majour";
  src: url("./assets/GROWMAJOUR.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mooxy";
  src: url("./assets/mooxy.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cigutera";
  src: url("./assets/Ciguatera.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Radon Regular";
  src: url("./assets/Radon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cameliya";
  src: url("./assets/Cameliya.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "beauty";
  src: url("./assets/Beauty\ Kitten.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "orangeout";
  src: url("./assets/orange-avenue-demo.outline.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "orange";
  src: url("./assets/orange-avenue-demo.regular.otf");
  font-weight: normal;
  font-style: normal;
}
@theme {
  --font-aboreto: Aboreto, sans-serif;
  --font-growmajour: Grow Majour, sans-serif;
  --font-ciguateraregular: Ciguatera, sans-serif;
  --font-radonbold: Radon Bold, sans-serif;
  --font-mooxy: Mooxy, sans-serif;
  --font-bellotatext: BellotaText, sans-serif;
  --font-cabin: Cabin, sans-serif;
  --font-abzee: ABeeZee, sans-serif;
  --font-radon: Radon Deco, sans-serif;
  --font-growmajour: Grow Majour, sans-serif;
  --font-ciguatera: Ciguatera, sans-serif;
  --font-radonregular: Radon Regular, sans-serif;
  --font-cameliya: Cameliya, sans-serif;
  --font-beauty: beauty, sans-serif;
  --font-orangeout: orangeout, sans-serif;
  --font-orange: orange, sans-serif;
}
